body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Block 1 Start */

.block1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.header {
    width: 1200px;
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    font-size: 24px;
}

.logo {
    display: flex;
    align-self: center;
    text-align: left;
    font-weight: 500;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    text-align: right;
}
/* Block 1 End */

/* Block 2 Start */

.block2 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.content1 {
    width: 1200px;
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    font-size: 24px;
    padding: 100px
}

.words {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img1 {
    width: 550px;
    height: ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

button {
    margin-top: 30px;
    background-color: #3882F6;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: white;
    border: 2px solid #3882F6;
    font-weight: 500;
}

.title1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

/* Block 2 End */

/* Block 3 Start */

.block3 {
    background-color: #F9FAF8;
    text-align: center;

    padding: 75px;
}

.content2 {
    display: flex;
    justify-content: center;
    gap: 52px;
    max-width: 2000px;
    gap: 150px;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    border-radius: 25px;
    border: 5px solid #3882f6;
    padding: 20px;
    width: 100px;
    height: 100px;
    align-self: center;
}

.text {
    max-width: 135px;
    align-self: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 50px;
}

/* Block 3 End */

/* Block 4 Start */

.block4 {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1f2937;
}

.refer {
    font-size: 20px;
    color: #1F2937;
    margin-top: 15px;
}

/* Block 4 End */